API_ID=38563100
API_HASH=e17dad613bba83ff2a873d61faf2394f
BOT_TOKEN=8604966201:AAFGPw_n1_5XaM4IcUQAeXIkff8xF92PJQ0
STRING_SESSION=BQJMbRwASGoIFiGfX3L8bPbxWZEE3DgUEbjTHmpYcmVZnoQQMR1odc64gspkkDG8cZ1EwP9GKTu8cK8GF0kSGs2BS2KZxRGkWR5oPAWJJbQ6TDlAkHrHfe_Ioo6LCeQjV0LJTvBqcxE6Vmhm2H4ra3Ka-g0_sCWcqXv1rHXXHZoArxOgNbYmogY7o6pvlLjTCzmqrMKR2X-Ig4FpumE1lck1UVr5W1QgEjn3FaqOK6K0vRrl_mPxn2BHWglMw114hQ25pu-IUMeng4_sIHZVvlMOh-1004455761370An5Qr0S7Vk5OR5r2X7U7pDK-3_Ctcbo9m3jew9fSg22x2_NDnD9_TaIwx8VwXmKUYCwrAAAAAIQJS9VAA
LOG_GROUP_ID=-1004455761370
OWNER_ID=8000127916,8871786984
MONGO_DB_URI=mongodb+srv://likeeadii80_db_user:BvxekuzSBMuULZmv@cluster0.08xzqdo.mongodb.net/?appName=Cluster0
NEXOR_STREAM_URL=https://nexor-yt-pannl.lovable.app
NEXOR_STREAM_KEY=NEXOR_3481fsghsh62ghs
SUPPORT_URL=https://t.me/+SaAZkof2asMyODg1
CHANNEL_URL=https://t.me/+IE-gqnqbso5kZDU1
OWNER_URL=https://t.me/@Tej_32
# Render deploy karte waqt yeh apne aap set ho jaata hai — manually chhod do khaali
RENDER_EXTERNAL_URL=
PING_INTERVAL=600
